*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* REGOLE COMUNI */
body {
  padding: 50px;
  font-size: 24px;
  color: white;
  background-color: black;
}
h1 {
  font-size: 48px;
}

/* SLIDER */
#slider {
  /* posizionamento */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* flex */
  display: flex;
  align-items: center;
  /* estetica */
  background-color: darkred;
}
#slider i {
  margin: 20px;
  font-size: 72px;
  transition: 0.5s;
}
#slider i:hover {
  transform: scale(1.1);
  color: #0892D0;
  cursor: pointer;
}
.images_container {
  width: 600px;
  height: 400px;
  background-color: orange;
}
