*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* REGOLE COMUNI */
body {
  padding: 50px;
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* estetica */
  font-size: 24px;
  color: white;
  background-color: black;
}
h1 {
  margin-bottom: 25px;
  align-self: flex-start;
  font-size: 48px;
}
.single_item {
  display: none;
}
.active {
  display: inline-block;
}

/* SLIDER */
#slider {
  /* flex */
  display: flex;
  align-items: center;
  /* estetica */
  background-color: darkred;
}
#slider i {
  margin: 40px;
  font-size: 72px;
  transition: 0.5s;
}
#slider i:hover {
  transform: scale(1.1);
  color: #0892D0;
  cursor: pointer;
}
.images_container {
  width: 500px;
  height: 500px;
  background-color: orange;
}
#maneskin {
  width: 100%;
  height: 100%;
  background-image: url("../img/maneskin.jfif");
  background-position: center;
  background-size: contain;
}
#the_weekend {
  width: 100%;
  height: 100%;
  background-image: url("../img/the_weekend.jpg");
  background-position: center;
  background-size: contain;
}
#xxx_tentacion {
  width: 100%;
  height: 100%;
  background-image: url("../img/xxx.jfif");
  background-position: center;
  background-size: contain;
}
#linkin_park {
  width: 100%;
  height: 100%;
  background-image: url("../img/linkin_park.jfif");
  background-position: center;
  background-size: contain;
}
